.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid #0078c2;
}

.footer>p {
    font-size: 1rem;
}

.footer a:link {
    color: #fc4c02;
}

.footer a:visited {
    color: #0077c2;
}

@media screen and (max-width: 480px) {
    .footer>p {
        font-size: .8rem;
        line-height: .8rem;
    }
}